<div class="h-left" style="justify-content: start;width: 240px;padding-right: 20px;">
    <template v-if="!Leftshareid && (parseInt(DocumentPerm) && (!parseInt($_G['config']['pichomeclosecollect']) || parseInt(DocumentAdminId)))">
        <a class="el-page-header__left" href="index.php?mod=collection" style="margin-right: 6px;color: var(--el-text-color-primary);">
            <el-icon style="font-size: 21px;font-weight: 700;"><Back /></el-icon>
        </a>
        <span class="text" >
            <span v-cloak>{{DocumentName}}</span>
        </span>
        <template v-if="DocumentType=='details'">
        <!--{if intval($perm)>1}-->
        <el-dropdown trigger="click" placement="bottom" @command="HeaderLeftOperation" v-if="parseInt(DocumentPerm)>1">
            <div class="l-operation">
                <i class="ri-settings-3-fill"></i>
            </div>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item icon="el-icon-edit" command="edit">{lang edit_collect_name}</el-dropdown-item>
                <el-dropdown-item icon="el-icon-circle-plus-outline" command="add">{lang add_category}</el-dropdown-item>
                <el-dropdown-item v-if="parseInt(DocumentPerm)>2" icon="el-icon-delete" command="delete">{lang delete_collect}</el-dropdown-item>
                <el-dropdown-item icon="el-icon-share" divided command="share">{lang share_collect}</el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
        <!--{/if}-->
        </template>
    </template>
    <template v-else>
        <div class="img">
            <el-image src="dzz/collection/image/logo.png?{VERHASH}" fit="contain">
                <template #error><div class="el-image__placeholder"></div></template>
            </el-image>
            <span class="text">{{DocumentName}}</span>
        </div>
    </template>
</div>
<div class="h-center" style="padding-left: 0px;">
        <el-input
			style="max-width: 300px;"
			v-model="HeaderKeyword"
			@input="HeaderKeywordInput"
			@keydown.enter="HeaderKeywordInput"
			clearable
			prefix-icon="Search"
        ></el-input>
</div>
<div class="h-right"> 
    <!--{template pc/components/all/rightBtn}-->
    <comavatar
        :level="parseInt($_G['pichomelevel'])"
        iscollect="<!--{if defined('PICHOME_LIENCE') && (!$_G['config']['pichomeclosecollect'] || $_G['adminid'])}--><!--{/if}-->"
        :adminid="parseInt($_G['adminid'])"
        PICHOME_LIENCE="<!--{if defined('PICHOME_LIENCE')}--><!--{/if}-->"
        :uid="parseInt($_G['uid'])"
        upgrade="<!--{if $_G['setting']['upgrade']}--><!--{/if}-->"
        version="{$_G['setting']['version']}"
        formhash="{FORMHASH}">
        <el-avatar size="40">
            {eval echo avatar_block($_G['uid']);}
        </el-avatar>
    </comavatar>
    
</div>

<script>
    const HeaderMixin = {
        data(){
            return {
                HeaderKeyword:'',
                keywordpopper:false
            }
        },
        watch:{

        },
        mixins:[HeaderRightBtnMixin],
        methods:{
            HeaderKeywordInput:debounce(function(val){
				this.CommonGetImageData();
			},500),
            keywordsuggestions(value,cb){
                var host = window.sessionStorage.getItem('HostKeyword');
                var HeaderSearchList = [];
				if(value){
					if(host){
						host = host.split(',');
						var index = host.indexOf(value);
						
						if(index>-1){
							host.splice(index,1);
						}else{
							if(host.length>9){
								host.pop();
							}
						}
						
						for(var i in host){
							if(host[i].indexOf(value)>-1){
								HeaderSearchList.push({
									value:host[i]
								});
							}
						}
						
						host.unshift(value);
						var newhost = host.join(',');
						
						if(host){
							window.sessionStorage.setItem("HostKeyword",newhost);
						}else{
							window.sessionStorage.removeItem("HostKeyword");
						}
					}else{
						window.sessionStorage.setItem("HostKeyword",value);
					}
					
				}else{
					if(host){
						var HeaderSearchList = [];
						var newhost = host.split(',');
						for(var i in newhost){
							HeaderSearchList.push({
								value:newhost[i]
							});
						}
					}
				}
                if(HeaderSearchList.length){
                    this.keywordpopper = true;
                }else{
                    this.keywordpopper = false;
                }
                // console.log(HeaderSearchList);
                cb(HeaderSearchList);
            },
            handleSelect(){
                
            },
            handleHighlight(item){
            }
        },
        mounted(){
            const self = this;
        }
    }
</script>