<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$data['name']</title>

<style>
    body{
        background: #FAFAFA;
        padding: 0;
    }
    #vditor{
        max-width:1000px;
        background: #FFF;
        box-shadow: 1px 5px 10px 0 rgba(0,0,0,.1);
        padding:20px;
    }
    img{
        max-width:100%;
    }
</style>
</head>
<body>
<!-- 编辑器容器 -->

<div id="vditor" style="margin: 20px auto;">
    $content
</div>

<!-- 主脚本加载 -->


</body>
</html>
