<!--{template common/robot/header_simple_start_none}-->
<style>
    .label-title {
        font-weight: bold;
        margin-right: 5px;
        min-width: 80px;
        display: inline-block;
    }

    .value {
        display: inline-block;

    }

    .editor-content {
        margin-bottom: 20px;
    }

    .file-content {
        margin-bottom: 20px;
    }

    img {
        max-width: 100%;
    }

    .footer {
        margin-top: 20px;
    }
</style>
<!--{template common/robot/header_simple_end_none}-->
<!--{template common/robot/commer_header_none}-->
<div class="container">
    <h3 class="title">$data['resourcesdata']['name']</h3>
    <div class="fileinfo ">

        <p><span class="label-title">{lang filename}:</span> <span class="value"> {$data['resourcesdata']['name']}{eval echo $data['resourcesdata']['ext']?'.'.$data['resourcesdata']['ext']:''}</span>
        </p>
        <p><span class="label-title"> {lang file_size}: </span> <span
                class="value">$data['resourcesdata']['fsize']</span></p>
        <!--{if $data['resourcesdata']['width'] && $data['resourcesdata']['height']}-->
        <p><span class="label-title">{lang size}: </span> <span class="value">$data['resourcesdata']['width'] x $data['resourcesdata']['height']</span>
        </p>
        <!--{/if}-->
        <p><span class="label-title">{lang create_time}:</span> <span
                class="value"> $data['resourcesdata']['dateline']</span></p>
        <p><span class="label-title">{lang modify_time}:</span> <span
                class="value"> $data['resourcesdata']['mtime']</span></p>
        <!--{if $data['resourcesdata']['username']}-->
        <p><span class="label-title">{lang fs_username}:</span> <span
                class="value"> $data['resourcesdata']['username']</span></p>
        <!--{/if}-->

        <!--{if $data['resourcesdata']['desc']}-->
        <p><span class="label-title">{lang description}:</span> <span
                class="value"> $data['resourcesdata']['desc']</span></p>
        <!--{/if}-->
        <!--{if intval($data['resourcesdata']['duration'])>0}-->
        <p><span class="label-title">{lang duration}: </span> <span
                class="value">$data['resourcesdata']['duration']</span></p>
        <!--{/if}-->
        <!--{if $data['resourcesdata']['tags']}-->
        <p><span class="label-title">{lang tags}: </span> <span class="value">{eval echo implode(',',$data['resourcesdata']['tags']);}</span>
        </p>
        <!--{/if}-->
        <!--{if $data['download']}-->
        <p><span class="label-title">{lang download}: </span> <span class="value"><a href="index.php?mod=io&op=download&path=$data['resourcesdata']['dpath']" type="download">{lang download}</a></span>
        </p>
        <!--{/if}-->
    </div>
    <!--{if $data['pageset']['_html_desc']}-->
    <h3>{lang description}</h3>
    <div class="editor-content">
        $data['pageset']['_html_desc']
    </div>
    <!--{/if}-->
    <div class="file-content">
        <!--{if $data['resourcesdata']['iniframe']}-->
        <h3><a href="$data['resourcesdata']['iniframe']" target="_blank">{lang preview}</a></h3>
        <!--{elseif $data['resourcesdata']['previews']}-->
        <!--{loop $data['resourcesdata']['previews'] $preview}-->
        <p><img src="$prevew['lpath']"/></p>
        <!--{/loop}-->
        <!--{else}-->
        <img src="$data['resourcesdata']['originalimg']"/>
        <!--{/if}-->
    </div>

</div>
<div class="footer text-center">
    <!--{if !empty($bottommenu)}-->
    <div class="menu-container">
        <ul class="main-menu">
            $bottommenu
        </ul>
    </div>
    <!--{/if}-->

    <p class="bottomtitle text-center">
        Powered By <a href="https://www.oaooa.com" target="_blank" >Pichome</a>&nbsp;V{eval echo CORE_VERSION}
    </p>

    <div class="beians text-center">
        <!--{if $_G['setting']['sitebeian']}-->
        <span class="beian"><a href="http://www.miibeian.gov.cn/" target="_blank">$_G['setting']['sitebeian']</a></span>
        <!--{/if}-->

    </div>
</div>

<!--{eval output();}-->
<!--{if $_G['setting']['statcode']}-->
<div class="text-center" style="display: none">$_G['setting']['statcode']</div>
<!--{/if}-->
</body>
</html>