<!--{template common/container/pc/header_start}-->
<link rel="stylesheet" href="static/scss/default/index.css?{VERHASH}">

<script>
	function debounce(fun, delay) {
		var time;
		return function(args) {
			var that = this;
			var _args = args;
			if (time) clearTimeout(time);
			time = setTimeout(function() {
				fun.call(that, _args)
			}, delay)
		}
	};
</script>
<!--{template common/container/pc/header_end}-->
<div id="dzzoffice">
	<el-container class="page-main">
		<!--{template common/container/pc/header_return}-->
		    <el-main>
				<div class="container">

					<div  style="background: var(--el-bg-color);border: var(--el-border);border-radius: 5px;padding: 25px;">
						<el-form 
							:model="FormData" 
							label-width="180px" 
							label-suffix="：">

							<el-form-item label="{lang apikey}" >
								<el-input v-model="FormData.apikey" ></el-input>
								<el-text tag="p" type="info" size="small" truncated>
									{lang apikey_tips}</el-text>
							</el-form-item>
							<el-form-item label="{lang endpoint}" >
								<el-input v-model="FormData.endpoint" ></el-input>
								<el-text tag="p" type="info" size="small" truncated>{lang endpoint_tips}</el-text>
							</el-form-item>
							<el-form-item label="{lang apikeyDashVector}" >
								<el-input v-model="FormData.apikeyDashVector" ></el-input>
								<el-text tag="p" type="info" size="small" truncated>
									{lang apikeyDashVector_tips}</el-text>
							</el-form-item>
							<el-form-item label="{lang distance}" >
								<el-input v-model="FormData.limit" style="width:120px;" ><template #append>%</template></el-input>
								<el-text tag="p" type="info" size="small" truncated>
									{lang distance_tips}</el-text>
							</el-form-item>
							<el-form-item label="{lang allowexts}" >
								<el-input v-model="FormData.exts" type="textarea" autosize></el-input>
								<el-text tag="p" type="info" size="small" truncated>
									{lang allowexts_tips}</el-text>
							</el-form-item>
							<el-form-item label="{lang status}" >
								<el-radio-group v-model="FormData.status">
									<el-radio :label="0" border>{lang close}</el-radio>
									<el-radio :label="1" border>{lang enable}</el-radio>
								</el-radio-group>
							</el-form-item>
							<el-form-item>
								<el-button type="primary" size="large" @click="handleSubmit">{lang submit}</el-button>
							</el-form-item>
						</el-form>
						
					</div>
					
				</div>
			</el-main>
		  </el-container>
	</el-container>

</div>
<script>
	const { createApp, reactive, toRefs, toRef, ref, onMounted, nextTick, watch,defineAsyncComponent, onBeforeUpdate } = Vue;
	const dzzoffice = Vue.createApp({
		data(){
			return {
				DocumentThemeColor:'',
				FormData:{
					endpoint:"$setting['endpoint']",
                    apikey:"$setting['apikey']",
					apikeyDashVector:"$setting['apikeyDashVector']",
					endpoint:"$setting['endpoint']",
					limit:"$setting['limit']",
					exts:"$setting['exts']",
					status:parseInt("$setting['status']")
				}
			}
		},
		
		created(){
			//主题颜色
			let theme = localStorage.getItem('theme');
			if(theme){
				this.DocumentThemeColor=theme;
			}else{
				this.DocumentThemeColor = 'light'
			}
			
		},
		mixins:[],
		watch:{
			DocumentThemeColor:{
				handler(newval){
					document.querySelector('html').className = newval
				},
				deep:true,
				// immediate:true
			}
		},
		
		methods:{
			async handleSubmit(){
				let self = this;
				let str = {
                    submit:true,
                    formhash:'{FORMHASH}',
                    apikey:self.FormData.apikey,
					apikeyDashVector:self.FormData.apikeyDashVector,
                    endpoint:self.FormData.endpoint,
                    endpoint:self.FormData.endpoint,
					limit:self.FormData.limit,
					exts:self.FormData.exts,
					status:self.FormData.status,

                };
				let {data: res} = await axios.post(MOD_URL+'&op=index',str);
				if(res.success){
					self.$message({
						type:'success',
						message:__lang.submit_success
					})
				}else{
					self.$message.error(res.msg || __lang.submit_error);
				}
			},
			DocumentThemeChange(){
				if(this.DocumentThemeColor=='light'){
					this.DocumentThemeColor='dark';
					localStorage.setItem('theme','dark');
				}else{
					this.DocumentThemeColor='light';
					localStorage.setItem('theme','light');
				}
				
			}
		},
		components: {
			
		},
		mounted(){

		}
	});
	dzzoffice.component('comavatar',comavatar);
	dzzoffice.component('international',international);
	dzzoffice.use(ElementPlus, {
		locale: {$_G['language_list'][$_G['language']]['elementflagCamel']},
	});
	for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
		dzzoffice.component(key, component)
	}
	// 屏蔽警告信息
	dzzoffice.config.warnHandler = function(){return null};
	dzzoffice.mount('#dzzoffice');
</script>

<!--{template common/container/pc/footer}-->
