<!--{template common/container/pc/header_start}-->
<link rel="stylesheet" href="dzz/pichome//template/storehouse/pc/assets/css/library.css?{VERHASH}">
<link rel="stylesheet" href="static/scss/default/index.css?{VERHASH}">
<script type="text/javascript" src="static/js/sortable.min.js?{VERHASH}"></script>
<script type="text/javascript" src="static/vue_components/OrguserSelect/index.js?{VERHASH}"></script>
<script type="text/javascript" src="static/vue_components/locale/index.js?{VERHASH}"></script>
<script>
	function debounce(fun, delay) {
		var time;
		return function(args) {
			var that = this;
			var _args = args;
			if (time) clearTimeout(time);
			time = setTimeout(function() {
				fun.call(that, _args)
			}, delay)
		}
	};
</script>

<!--{template common/container/pc/header_end}-->
<div id="dzzoffice">
	<el-container class="page-main">
		<!--{template common/container/pc/header_return}-->
		<el-main style="overflow: hidden;position: relative;padding: 0;">
			<el-scrollbar>
				<div class="page-container container" style="padding-top: 20px;">
					<div class="admin-tabs-header">
						<el-menu
							:default-active="activeName"
							mode="horizontal"
							class="admin-tabs"
							@select="handleTabsClick">
							<el-menu-item index="list" style="width: 100px;font-size: 16px;">
								{lang list}
								<el-text size="small" style="margin-left: 6px;">{{total0}}</el-text>
							</el-menu-item>
							<el-menu-item index="recycle" style="width: 100px;margin-left: 8px;font-size: 16px;">
								{lang recycle}
								<el-text size="small" style="margin-left: 6px;">{{total1}}</el-text>
							</el-menu-item>
						</el-menu>
						<div class="admin-tabs-action">
							<el-input
									size="large"
									placeholder="{lang search}"
									style="width: 200px;margin-right: 10px;"
									class="el-input__inner"
									clearable
									v-model="keyword"
									@keyup.enter="handleSearch"
									@clear="handleSearch"
									@change="handleSearch"
							>
							</el-input>
							<div class="admin-tabs-icon">
								<el-icon :class="{'active':style=='icon'}" @click="changeStyle('icon')">
									<svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 6H8C6.89543 6 6 6.89543 6 8V18C6 19.1046 6.89543 20 8 20H18C19.1046 20 20 19.1046 20 18V8C20 6.89543 19.1046 6 18 6Z" fill="none" stroke="currentColor" stroke-width="3" stroke-linejoin="round"/><path d="M18 28H8C6.89543 28 6 28.8954 6 30V40C6 41.1046 6.89543 42 8 42H18C19.1046 42 20 41.1046 20 40V30C20 28.8954 19.1046 28 18 28Z" fill="none" stroke="currentColor" stroke-width="3" stroke-linejoin="round"/><path d="M40 6H30C28.8954 6 28 6.89543 28 8V18C28 19.1046 28.8954 20 30 20H40C41.1046 20 42 19.1046 42 18V8C42 6.89543 41.1046 6 40 6Z" fill="none" stroke="currentColor" stroke-width="3" stroke-linejoin="round"/><path d="M40 28H30C28.8954 28 28 28.8954 28 30V40C28 41.1046 28.8954 42 30 42H40C41.1046 42 42 41.1046 42 40V30C42 28.8954 41.1046 28 40 28Z" fill="none" stroke="currentColor" stroke-width="3" stroke-linejoin="round"/></svg>
								</el-icon>
								<el-icon :class="{'active':style=='list'}" @click="changeStyle('list')">
									<svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.94971 11.9497H39.9497" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.94971 23.9497H39.9497" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.94971 35.9497H39.9497" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
								</el-icon>
							</div>
							
							<el-dropdown 
								v-if="activeName == 'list'"
								@command="TableAdd">
								<el-button icon="CirclePlus" size="large" type="primary">{lang create}</el-button>
								<template #dropdown>
									<el-dropdown-menu>
										<el-dropdown-item command="3">
											<img style="height:30px;vertical-align: middle;margin-right:10px;" src="dzz/pichome/image/library/pichome.png" /> PicHome {lang library}
										</el-dropdown-item>
										<el-dropdown-item command="1">
											<img style="height:30px;vertical-align: middle;margin-right:10px;" src="dzz/pichome/image/library/file.png" /> {lang normal_directory}
										</el-dropdown-item>
										<el-dropdown-item command="0">
											<img style="height:30px;vertical-align: middle;margin-right:10px;" src="dzz/pichome/image/library/eagle.png" /> Eagle&nbsp;{lang library}
										</el-dropdown-item>
										<el-dropdown-item command="2">
											<img style="height:30px;vertical-align: middle;margin-right:10px;" src="dzz/pichome/image/library/billfish.png" /> Billfish&nbsp;{lang library}
										</el-dropdown-item>
									</el-dropdown-menu>
								</template>
							</el-dropdown>
						</div>
					</div>
					<div >
						<!--{template storehouse/pc/components/library/main}-->
					</div>
					<div class="pageContainer" v-if="pageset.total>pageset.perpage" style="padding:20px 0 10px 0;display:flex;justify-content: center">
						<el-pagination
								large
								background
								@size-change="handleSizeChange"
								@current-change="handleCurrentChange"
								:current-page="currentPage"
								:page-sizes="pageset.pagesizes"
								:page-size="pageset.perpage"
								layout="total, sizes, prev, pager, next"
								:total="pageset.total">
						</el-pagination>
					</div>
                </div>
			</el-scrollbar>
		</el-main>
	</el-container>
	<!-- 创建文件 -->
	<!--{template storehouse/pc/components/library/created}-->
	<!-- 文件密级 -->
	<!--{template storehouse/pc/components/library/grade}-->
	<!-- 设置 -->
	<!--{template storehouse/pc/components/library/right}-->
</div>
<script>
	const { createApp, reactive, toRefs, toRef, ref, onMounted, nextTick, watch,defineAsyncComponent, onBeforeUpdate } = Vue;
	const dzzoffice = Vue.createApp({
		data(){
			return {
				DocumentThemeColor:'',
				activeName:'list',
				total0:parseInt('$total0'),
				total1:parseInt('$total1'),
				keyword:'',
				pageset:{
					page:parseInt('$page'),
					perpage:parseInt('$perpage'),
					total:0,
					pagesizes:[10,20,50,100]
				}
			}
		},
		
		created(){
			let librarystyle = localStorage.getItem('librarystyle');
			if(librarystyle){
				this.style = librarystyle;
			}else{
				this.style = 'list';
			}
			let libraryActiveName = localStorage.getItem('libraryActiveName');
			if(libraryActiveName){
				this.activeName = libraryActiveName;
			}else{
				this.activeName = 'list';
			}

			//主题颜色
			let theme = localStorage.getItem('theme');
			if(theme){
				this.DocumentThemeColor=theme;
			}else{
				this.DocumentThemeColor = 'light'
			}
			this.TableGetData();
		},
		mixins:[CreatedMixin,MainMixin,GradeMixin,RightMixin],
		watch:{
			DocumentThemeColor:{
				handler(newval){
					document.querySelector('html').className = newval
				},
				deep:true,
				// immediate:true
			}
		},
		
		methods:{
			handleSizeChange(perpage){
				this.pageset.perpage = perpage;
				this.TableGetData();
			},
			handleCurrentChange(page){
				this.pageset.page = page;
				this.TableGetData();
			},
			handleSearch(){
				this.pageset.page = 1;
				this.TableGetData();
			},
			handleTabsClick(val){
				if(this.activeName == val) return false;
				this.activeName = val;

				localStorage.setItem('libraryActiveName',val);
				this.Table.Data=[];
				this.TableGetData();

			},
			TableAdd(type){
				this.Catalogue.type = type;
				this.Catalogue.dialogtype = 'add';
				this.Catalogue.dialogVisible = true;
			},
			DocumentThemeChange(){
				if(this.DocumentThemeColor=='light'){
					this.DocumentThemeColor='dark';
					localStorage.setItem('theme','dark');
				}else{
					this.DocumentThemeColor='light';
					localStorage.setItem('theme','light');
				}
				
			},
			changeStyle(val){
				if(this.style == val)return false;
				this.style = val;
				localStorage.setItem('librarystyle',val);
			},
			async RecycleOperation(type,id){
				let self = this;
				if(type == 'recovery'){
					const {data: res} = await axios.post(MOD_URL+'&op=library&operation=recover',{
						appid:id
					});
					if(res.success){
						let index = this.Table.data.findIndex(item => item.appid == id);
						if(index != -1){
							self.Table.data.splice(index,1);
							self.total1--;
							self.total0++;
						}

						self.$message({
							type:'success',
							message:'{lang recovery_success}'
						});
					}else{
						self.$message.error(res.msg || 'recovery_unsuccess');
					}
				}else{
					self.$messageBox.confirm(
							'{lang delete_tip}',
							'{lang board_message}',
							{
								confirmButtonText: '{lang confirms}',
								cancelButtonText: '{lang cancel}',
								type: 'warning',
								icon:'QuestionFilled'
							}
					).then(async () => {
						const {data: res} = await axios.post(MOD_URL+'&op=library&operation=finallydel',{appid:id});
						if(res.success){
							let index = this.Table.data.findIndex(item => item.appid == id);
							if(index != -1){
								this.Table.data.splice(index,1);
								this.total1--;
							}
							self.$message({
								type:'success',
								message:'{lang delete_success}'
							});
						}else{
							self.$message.error(res.msg || '{lang delete_unsuccess}');
						}
					}).catch(() => {

					})
				}
			},
		},
		components: {
			'orguser-select':orguserselect,
			language
		},
		mounted(){

		}
	});
	dzzoffice.component('comavatar',comavatar);
	dzzoffice.component('international',international);
	dzzoffice.use(ElementPlus, {
		locale: {$_G['language_list'][$_G['language']]['elementflagCamel']},
	});
	for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
		dzzoffice.component(key, component)
	}
	
	// 屏蔽警告信息
	dzzoffice.config.warnHandler = function(){return null};
	dzzoffice.mount('#dzzoffice');
</script>

<!--{template common/container/pc/footer}-->
