<div class="main-header" style="padding:0 15px">
  <ul class="nav nav-pills nav-pills-bottomguide">
    <li class=""> <a href="{MOD_URL}&op=edituser&do=add&orgid=$orgid" onclick="jQuery('#orguser_container').load(this.href);return false;">{lang add_user}</a> </li>
	  <li class="active"> <a href="{MOD_URL}&op=edituser&do=ad&orgid=$orgid" onclick="jQuery('#orguser_container').load(this.href);return false;">{lang add_user_from_ad}</a> </li>
	 
  </ul>
</div>
<div class="main-body" style="padding:15px 15px 15px 22px;">
	<input type="text" class="form-control input-ad-search" placeholder="{lang search}">
	<table class="table table-hover">
		<thead><th>{lang username}</th><th>DN</th><th>{lang operation}</th></thead>
		<tbody class="ad-user-container">
		<!--{loop $list $value}-->
		<tr><td><span <!--{if $value['uid']<0}-->class="text-danger" title="{lang ad_username_repeat}"<!--{/if}-->>$value[name]</span></td><td>$value['dn']</td><td><btn class="btn <!--{if $value['uid']<0}-->btn-danger-outline<!--{else}-->btn-success-outline<!--{/if}--> btn-ad-add" style="width:150px" data-dn="$value['dn']" data-uid="$value[uid]">{lang add}</btn></td></tr>
		<!--{/loop}-->
		</tbody>
	</table>
</div>
<script type="text/javascript" reload="1">
	window.location.hash="user_0_ad_$orgid";
	var timer=null;
	jQuery(document).off('keyup.input-ad-search').on('keyup..input-ad-search','input.input-ad-search',function(){
		var val=this.value;
		if(val==''){
			jQuery('.ad-user-container tr').show();
		}
		if(timer) window.clearTimeout(timer);
		timer=window.setTimeout(function(){
			jQuery('.ad-user-container span').each(function(){
				var regex=new RegExp(val,'i');
				var name=jQuery(this).text();
				if(!regex.test(name)){
					jQuery(this).closest('tr').hide();
				}else{
					jQuery(this).closest('tr').show();
				}
			});
		},100);
	});
	jQuery(document).off('click.btn-ad-add').on('click.btn-ad-add','btn.btn-ad-add',function(){
		var el=jQuery(this);
		if(el.data('uid')<0){
			var msg='{lang ad_username_repeat_confirm}'
			showDialog(msg, 'confirm', '', function () {
				el.button('loading');
				jQuery.post('{MOD_URL}&op=edituser&do=add_from_ad',{dn:el.data('dn'),'orgid':'$orgid'},function(json){
					if(json.error){
						el.button('reset');
						showmessage(json.error,'danger',3000,1);
					}else{
						el.text('Success!');
						var inst=jQuery('#classtree').jstree(true);
						if(json.orgid>0){
							var node=inst.get_node('#'+json.orgid);
						}else{
							var node=inst.get_node('#other');
						}
						if(node){
							inst.refresh_node(node);
						}
						window.setTimeout(function(){
							el.closest('tr').remove();
						},1000);
					}
				},'json');
			});
		}else{
			el.button('loading');
				jQuery.post('{MOD_URL}&op=edituser&do=add_from_ad',{dn:el.data('dn'),'orgid':'$orgid'},function(json){
					if(json.error){
						el.button('reset');
						showmessage(json.error,'danger',3000,1);
					}else{
						el.text('Success!');
						var inst=jQuery('#classtree').jstree(true);
						if(json.orgid>0){
							var node=inst.get_node('#'+json.orgid);
						}else{
							var node=inst.get_node('#other');
						}
						if(node){
							inst.refresh_node(node);
						}
						window.setTimeout(function(){
							el.closest('tr').remove();
						},1000);
					}
				},'json');
		}
		
	});
</script>