<!--{template common/container/pc/header_start}-->
<link rel="stylesheet" href="static/scss/default/index.css?{VERHASH}">
<link rel="stylesheet" type="text/css"
      href="{MOD_PATH}/template/multifile/simple1/view/pc/assets/css/index.css?{VERHASH}"/>
<script type="text/javascript" src="static/jszip/jszip.min.js?{VERHASH}"></script>
<script type="text/javascript" src="static/jszip/FileSaver.min.js?{VERHASH}"></script>
<script type="text/javascript" src="{MOD_PATH}/template/library/default/view/pc/assets/js/navigationmenu.js?{VERHASH}"></script>
<script type="text/javascript" src="static/vue_components/sharedialog/index.js?{VERHASH}"></script>
<!--{template common/container/pc/header_end}-->
<div id="dzzoffice">

    <el-container :style="{'--el-color-primary':pageset['coloractive']}">
        <!--{template multifile/simple1/view/pc/components/header}-->
        <el-main
                style="padding: 0;"
                :style="{background: pageset['background']}"
                class="dzz-container">
            <el-scrollbar>
                <div class="container-centent container" :class="pageset.pageWidth">
                    <el-image class="img" v-if="pageset._file_carousel && pageset._file_carousel[0] && pageset._file_carousel[0]['src']" :src="pageset._file_carousel[0]['src']" fit="cover">
                        <template #error>
                            <div class="image-slot">
                                <el-icon>
                                    <Picture-Filled/>
                                </el-icon>
                            </div>
                        </template>
                    </el-image>
                    <div class="balck-text" v-if="pageset.name || pageset._html_desc"
                         :style="{'border-color':pageset['coloractive']}">
                        <h1 style="font-size: 30px;margin-bottom: 12px;">{{pageset.name}}</h1>
                        <div v-html="pageset._html_desc">
                        </div>
                    </div>
                    <div class="actions">
                        <div class="actions-left">
                            <el-text>{lang gong}
                                <el-text type="success" style="font-size: 24px;padding: 0 3px;font-weight: 700;">
                                    {{tableData.length}}
                                </el-text>
                                {lang gfile}
                            </el-text>
                        </div>
                        <div class="actions-right">
                            <el-button v-if="parseInt(pdata.download)" class="down-all" type="info" @click="JsZipDown"
                                       :style="{'--background':pageset['coloractive']}">
                                {lang download_all}
                            </el-button>
                            <el-button v-if="parseInt(pdata.share)"  class="down-all" type="info" @click="handleAllShare"
                                       :style="{'--background':pageset['coloractive']}">
                                <el-icon>
                                    <Share/>
                                </el-icon>&nbsp;{lang share}
                            </el-button>
                        </div>
                    </div>
                    <div class="table-box">
                        <div class="file-item" v-for="(item,index) in tableData">
                            <div class="img-wrapper">
                                <el-image class="img-cover" @click="ImageDetails(item)"
                                          :src="item.originalimg?item.originalimg:item.icondata" fit="cover">
                                    <template #error>
                                        <div class="image-slot">
                                            <el-icon>
                                                <Picture-Filled/>
                                            </el-icon>
                                        </div>
                                    </template>
                                </el-image>

                                <div class="actions">
                                    <div class="actions-left">
                                        <el-link href="javascript:;" @click="ImageDetails(item)">{{item.name}}
                                            <template v-if="parseInt(pageset.exit)"> . {{item.ext}}</template>
                                        </el-link>
                                    </div>
                                    <div class="actions-right">
                                        <el-button v-if="parseInt(item.download)" class="down-all" type="info"
                                                   @click="handleDown(item)"
                                                   :style="{'--background':pageset['coloractive']}">{lang download}
                                        </el-button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <el-footer v-if="pageset.bottomEnable" style="margin-top:20px;">
                        <!--{template multifile/simple1/view/pc/components/footer}-->
                    </el-footer>
                </div>
            </el-scrollbar>
        </el-main>

    </el-container>
    <!--分享对话框加载-->
    <!--{eval  include template('shareAddDialog','./dzz/shares/template/')}-->
</div>

<script type="text/javascript">
    const {createApp, reactive, toRefs, toRef, ref, onMounted, nextTick, watch, computed, onBeforeUpdate, onUnmounted } = Vue;
    const dzzoffice = createApp({
        el: '#dzzoffice',
        data() {
            return {
                DocumentThemeColor: '',//dark,
                tableData: [],
                ispc: parseInt('$ispc'),
                pdata: $json_data,
                pageset: $json_pageset
            }
        },

        created() {

            this.GetData();
        },
        mixins: [HeaderMixins, ShareAddDialogMixin],
        methods: {
            handleDown(val) {
                window.open('{MOD_URL}&op=download&dpath=' + val.dpath);
            },
            handleAllShare() {
                let rids = [];
                this.tableData.forEach((data, key) => {
                    rids.push(data.rid);
                });
                this.shareDialog.title = this.pdata.pname;
                this.shareDialog.filepaths = rids;
                this.shareDialog.visible = true;
                this.shareDialog.stype = 0;
            },
            ImageDetails(item) {//双击事件
                const self = this;
                var arr = [];
                for (var i in this.tableData) {
                    arr.push(this.tableData[i].dpath)
                }
                let curr = this.tableData.find(function (current) {
                    return current.rid == item.rid;
                });
                let index = this.tableData.findIndex(function (current) {
                    return current.rid == item.rid;
                });

                if (this.pageset.opentype == 'new' && this.ispc) {
                    var params = {};
                    params['id'] = '$id';
                    params['moreurl'] = 'index.php?mod=publish&op=ajax&do=getFiles';
                    this.ImageDataIframe = window.open('index.php?mod=details#path=' + curr.dpath, 'details');
                    this.ImageDataIframe.sessionStorage.setItem('imgparam', JSON.stringify(params));
                    this.ImageDataIframe.sessionStorage.setItem('imgs', arr.join(','));
                    this.ImageDataIframe.sessionStorage.setItem('selectindex', index);
                    this.ImageDataIframe.sessionStorage.setItem('href', '{MOD_URL}&id={$pid}');
                    this.ImageDataIframe.sessionStorage.setItem('fidname', 'classify');
                } else {
                    sessionStorage.setItem('href', '{MOD_URL}&id={$pid}');
                    sessionStorage.setItem('selectindex', index);
                    sessionStorage.setItem('fidname', 'classify');
                    let div = document.createElement("div");
                    div.className = 'Details-Iframe';
                    let div1 = document.createElement("div");
                    div1.className = 'Details-Iframe-wrapper';
                    div.onclick = function () {
                        let div2 = document.querySelector('.Details-Iframe');
                        document.body.removeChild(div2);
                    }
                    div.append(div1);
                    document.body.appendChild(div);
                    let iframe = document.createElement("iframe");
                    iframe.style.opacity = '0';
                    div1.append(iframe);
                    iframe.src = 'index.php?mod=details&opentype=current#path=' + curr.dpath;

                }
                window.removeEventListener('message', this.ImageDetailsMessage)
                window.addEventListener('message', this.ImageDetailsMessage)
            },
            ImageDetailsMessage(event) {
                if (event.origin !== window.location.origin) {
                    return;
                }
                this.ImagePageTurning(event.data.dpath);
            },
            async GetData() {
               this.GetFileData(this.pdata.pval);
            },
            async GetFileData(rids) {
                let self = this;
                let {data: res} = await axios.post('{MOD_URL}&op=ajax&do=getfiles', {
                    pid: '$id',
                    rids: rids
                });
                this.tableData = res.data;
            },
            fetchImage(url) {
                return fetch(url).then(response => {
                    if (!response.ok) {
                        throw new Error('HTTP error! status: 200');
                    }
                    return response.blob();
                });
            },
            JsZipDown() {
                let self = this;
                const names = [];
                let ZipName = this.tableData[0].name + '等' + this.tableData.length + '个文件';
                const imageUrls = [];
                this.tableData.forEach((data, key) => {
                    imageUrls.push(data.downloadurl);
                    names.push({
                        ext: data.ext,
                        name: data.name
                    });
                });

                // // 创建一个新的JSZip实例
                const zip = new JSZip();
                // // 异步处理每个图片地址
                Promise.all(imageUrls.map(url => self.fetchImage(url))).then(images => {
                    // 将每个图片的Blob对象添加到JSZip实例中
                    images.forEach((image, index) => {
                        const fileName = names[index].name + '.' + names[index].ext; // 假设文件名从image1.jpg开始
                        zip.file(fileName, image);
                    });

                    // 生成ZIP文件并触发下载
                    return zip.generateAsync({type: 'blob'});
                }).then(content => {
                    saveAs(content, ZipName + '.zip');
                    nextTick(() => {
                        // let fids = DownIds.value.join(',');
                        // if(ids && ids.length){
                        // 	fids = idsArray.join(',');
                        // }
                        // if(props.apptype == 'banner'){
                        // 	setBannerDownNumber(fids);
                        // }else if(props.apptype == 'collect'){
                        // 	setCollectDownNumber(fids);
                        // }else if(props.apptype == 'pichome'){
                        // 	setPichomeDownNumber(ids.join(','));
                        // }
                        // DownIds.value = [];
                    });
                }).catch(error => {
                    console.error('Error downloading images:', error);
                });

            },
            DocumentThemeChange() {
                if (this.DocumentThemeColor == 'light') {
                    this.DocumentThemeColor = 'dark';
                    localStorage.setItem('theme', 'dark');
                } else {
                    this.DocumentThemeColor = 'light';
                    localStorage.setItem('theme', 'light');
                }
            },
        },
        mounted() {

        },
        components: {
            navigationmenu,
            DzzShareDialog
        }

    });
    dzzoffice.use(ElementPlus, {
        locale: {$_G['language_list'][$_G['language']]['elementflagCamel']},
    });
    for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
        dzzoffice.component(key, component)
    }
    dzzoffice.component('comavatar', comavatar);
    dzzoffice.component('international', international);
    // 屏蔽警告信息
    dzzoffice.config.warnHandler = function () {
        return null
    };
    dzzoffice.mount('#dzzoffice');
</script>

<!--{template common/container/pc/footer}-->
